{% extends 'inventario/base.html' %}

{% block title %}
Listado de productoss😎
{% endblock %}

{% block header %}
<header>
    <h1>Listado de productos</h1>
</header>
{% endblock %}

{% block main %}
<main>
    <section>
        <h2>Aqui va estar el listado de productos😎</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deserunt a eius iste beatae, 
        commodi facilis nihil impedit tempore officiis veritatis quos laudantium facere illum illo. Esse nobis minus quos.</p>

        <ul>
            <li>1.producto</li>
            <li>2.producto</li>
            <li>3.producto</li>
            <li>4.producto</li>
            <li>5.producto</li>
        </ul>
    </section>
</main>
{% endblock %}

{%block footer %}
<footer>
    <span>2025. Derechos reservados</span>
</footer>

{% endblock %}