{% extends 'inventario/base.html' %}

{% block title %}
  Lista de ventas
{% endblock %}

{% block content %}
  <h1 class="text-2xl font-bold mb-4">Lista de ventas</h1>
  <table class="min-w-full bg-white">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Rut cliente</th>
        <th class="py-2 px-4 border-b">Producto</th>
        <th class="py-2 px-4 border-b">Descripción</th>
        <th class="py-2 px-4 border-b">Precio</th>
        <th class="py-2 px-4 border-b">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {% for ventas in ventas %}
        <tr class= "text-center">
          <td class="py-2 px-4 border-b">{{ ventas.rut}}</td>
          <td class="py-2 px-4 border-b">{{ ventas.producto.nombre}}</td>
          <td class="py-2 px-4 border-b">{{ ventas.producto.descripcion }}</td>
          <td class="py-2 px-4 border-b">{{ ventas.productos.precio }}</td>
          <td class="py-2 px-4 border-b">{{ ventas.venta.cantidad }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}